$main : #8f00ff;

$white : #fff;
$black : #000;

$violet_01 : #faf9ff;
$violet_02 : #8f21fb;
$violet_03 : #6500c3;

$gray_01 : #e0e0e0;
$gray_02 : #dde0ea;
$gray_03 : #b8b9c3;
$gray_04 : #a9abb7;
$gray_05 : #69666d;
$gray_06 : #333236;


@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin scrollbar {
    ::-webkit-scrollbar {
        width: .6rem; 
    }
    ::-webkit-scrollbar-thumb {
        height: 30%;
        background: #babac0;
        border-radius: 5rem;
    }
}