@charset 'utf-8';
@import '_reset';
@import '_fonts';
@import '_mixin';
@import '_swiper-bundle';
@import '_common';
@import '_size';
@import '_main';

.wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.box_area {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}
.inner {
    max-width: 34.5rem;
    margin: 0 auto;
}

@media (min-width : 768px) {
    .box_area {
        padding: 0 4rem;
    }
    .inner {
        max-width: 64.8rem;
    }
}
@media (min-width : 991px) {
    .box_area {
        padding: 0 20px;
    }
    .inner {
        max-width: 1000px;
    }
}
@media (min-width : 1199px) {
    .box_area {
        padding: 0 20px;
    }
    .inner {
        max-width: 1020px;
    }
}